<h1>Editing Student</h1>

<%= form_for @student do |f| %>
<p>First Name: <%= f.text_field :first_name %></p>
<p>Last Name: <%= f.text_field :last_name %></p>

<%= f.submit %>

<% end %>


<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
