<h1>Student Form</h1>

<p><%= form_for @student do |f| %></p>
<p><%= f.label :first_name %></p>
<p> <%= f.text_field :first_name %></p>

<p><%= f.label :last_name %></p>
<p> <%= f.text_field :last_name %></p>

<p><%= f.submit %></p>
<%end %>